<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=tstoragenew;AccountKey=hrJQ7XB5Htz/c+audxYYx32gPXeg0not4W9Egj9wEpx94VTDEJkN3BBbAPv6IGzddI3SCIM5FdaH7mQLkZEynQ==;EndpointSuffix=core.windows.net"></add>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>